@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    padding: 0;
    margin:0;
}

body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.word-container {
    font-size: 1em;
    font-weight: bold;
    position: relative;
    height: 1em;
    
}

.word {
    position: absolute;
    width: 100%;
    opacity: 1;
    animation: fade 6s infinite;
    color: #22D4FD;
}

.word:nth-child(1) {
    animation-delay: 3s;
}

.word:nth-child(2) {
    animation-delay: 6s;
}

@keyframes fade {
    0%, 100% { opacity: 0; }
    45%, 55% { opacity: 1; }
}

.fila {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.columna {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color: #22D4FD;
    text-decoration: none;
    font-weight: 1000;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #22D4FD;
}

.header{
    margin-left: 10%;
    background-color: #000000;
    color: #F6F6F6;
    
    
    text-decoration: none;
    text-align: center;
}

.header__menu__links{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: #22D4FD;
}

.titulo-destaque {
    color: #22D4FD; 
    
}

.presentacion {
    margin: 2% 5% 5% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentacion__contenido{
    width: 515px;
    display: block;
    flex-direction: center;
    gap: 40px;
    text-align: center;
}

.presentacion__contenido__titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.presentacion__contenido__texto{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.presentacion__contenido__texto a{
    text-decoration: none;
    color: #22D4FD;
}

.presentacion__enlaces{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__subtitulo{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.presentacion__enlaces__link{
      /* background-color: #22D4FD; */
      border: 2px solid #22D4FD;
      width: 378px;
      text-align: center;
      border-radius: 8px;
      font-size: 18px;
      font-weight: 600;
      padding: 21.5px 0;
      text-decoration: none;
      color: #F6F6F6;
      font-family: 'Montserrat', sans-serif;
      justify-content: center;
      gap: 10px;;
}

.presentacion__enlaces__link:hover{
    background-color: #272727;
}

footer{
   /*  width:fit-content */
    background-color: #22D4FD;
    color: #000000;
    text-align: center;
    padding: 24px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

img{
    mask-image: linear-gradient(rgb(37, 32, 32) 85%, transparent);
    
}

.fcovalera {
    mask-image: linear-gradient(rgb(37, 32, 32) 75%, transparent);
    border-radius: 10%;
    width: 100%;
    margin: 10px;
    margin-bottom: 10px;
}

@media (max-width: 1200px) {
    .presentacion {
        flex-direction: column-reverse;
        margin: 2% 15% 0% 15%;
    }
}   

@media (max-width: 570px) {
    body {
        flex-direction: column-reverse;
        margin: 5% 15% 10% 15%;
        padding: 5px, 5px, 5px, 5px;
    }

    .fila {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .columna {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2px;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        color: #22D4FD;
        text-decoration: none;
        font-weight: 500;
        gap: 2px;
    }

    .presentacion__contenido {
        width: 40%;
        display: block;
        flex-direction: center;
        gap: 5px;
        text-align: center;
    }

    .presentacion__contenido__titulo {
        font-size: 1,5rem;
        font-family: 'Krona One', sans-serif;
        margin-left: 5px;
        margin-right:5px;
    }

    .presentacion__contenido__texto {
        font-size: 1,125remx;
        font-family: 'Montserrat', sans-serif;
        margin-left: 5px;
        margin-right:5px;
    }

    .titulo-destaque {
        color: #22D4FD; 
        font-size: 0,5rem;
        margin-left: 5px;
        margin-right:5px;
    }
} 

@media (max-width: 370px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5% 5% 5% 5%;
        font-size-adjust: calc(0.5em + 1vw);
    }

    a {
        font-size: 1rem;
        text-align: center;
        gap: 5px;
        padding: 5px;
        margin: 5px;
        text-decoration: none;
    }
    
    .presentacion__contenido {
        width: 50%;
        display: block;
        flex-direction: center;
        gap: 5px;
        text-align: center;
    }

    .presentacion__contenido__titulo {
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        margin-left: 5px;
        margin-right:5px;
    }

    .presentacion__contenido__texto {
        font-size: 0,125remx;
        font-family: 'Montserrat', sans-serif;
        margin-left: 5px;
        margin-right:5px;
    }

    .titulo-destaque {
        color: #22D4FD; 
        font-size: 0,5rem;
        margin-left: 5px;
        margin-right:5px;
    }
} 